@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    font-family: "Cairo", sans-serif;
    color: white;

}
.container{
    background-color: rgb(3, 32, 3);
    width: 40%;
    margin: auto;
    padding: 20px 20px;
}
.container h1{
    text-align: center;
}
.container form  .form-group label{
    display: block;
}
.container form .input-group{
    width: 90%;
    margin: 10px auto ;
    padding: 10px;
    background-color: rgb(29, 78, 29);
    border: none;

}
.container form .input-group:focus{
    outline: none;
}
.container h2 span:first-child{
display: inline-block;
border-radius: 50%;
background-color: orange;
font-size: 16px;
padding: 5px  15px;
}